.Layout {
    display: grid;
    grid-template-columns: 7vw 1fr 7vw;
}

.Main {
    grid-column-start: 2;
    grid-column-end: 3;
}

.Wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}

.Push {
    height: 70px;
}

@media only screen and (min-width: 2325px){
    .Layout {
        display: grid;
        grid-template-columns: 1fr 2000px 1fr;
    }
}

@media only screen and (max-width : 650px){
    .Layout {
        display: grid;
        grid-template-columns: 10px 1fr 10px;
    }
}