.LandingPage{
    margin-bottom : 50px;
    font-family: 'Chivo', 'sans-serif';
}

.LandingPage h1 {
    color: var(--bold);
    font-size: 100px;
    margin: 0;
}

.LandingPage h2 {
    color: var(--bold);
    font-size: 50px;
    margin-top: 0;
}

.LandingPage h3 {
    font-size: 20px;
    max-width: 40%;
    margin-left : 25px;
}

.Section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.Section img {
    height: 300px;
}