@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,700;0,900;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body, html {
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bold : #2811d6;
  --accent : #5CDB95;
  --warning : #d9003c;
}

textarea:focus, input:focus{
  outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--bold) white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bold);
  border-radius: 8px;
  border: 5px solid white;
}

button {
  display: inline-block;
  border: none;
  padding: 10px 20px;
  margin: 0;
  text-decoration: none;
  background: var(--bold);
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: var(--bold);
}

button:focus {
  outline: none;
  outline-offset: none;
}

button:active {
  transform: none;
}