textarea {
    width: 100%;
    resize : vertical;
    min-height: 300px;
}

.CreateProject {
    margin-top : 30px;
    margin-bottom : 30px;
}

.CreateProject p {
    font-size: 18px;
}

.Box{
    position: relative;
    padding: 10px 30px;
    background: #eaeaea;
    box-shadow: var(--bold) 1px 1px, var(--bold) 2px 2px, var(--bold) 3px 3px, var(--bold) 4px 4px, var(--bold) 5px 5px ;
    margin-bottom : 25px;
}

.Box h2 {
    color: var(--bold);
    font-weight: 700;
}

.Box h3 {
    margin: 0;
    margin-top: 5px;
    margin-bottom : 15px; 
    color: var(--bold);
}

.Box input[type=text] {
    height: 50px;
}

.Box input[type=text], .Box textarea {
    width: 100%;
    margin-bottom: 10px;
    border : 3px solid var(--bold);
    color: black;
    padding : 10px 10px;
    font-size: 16px;
    font-weight: 600;
}

.Tiers {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

@media only screen and (max-width: 1330px){
    .Tiers { grid-template-columns: repeat(2, 1fr);}
}

.AddTier {
    position: absolute;
    top: 0;
    right: 0;
    padding : 5px 10px;
    color: white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent);
    transition: all 300ms;
    cursor: pointer;
    user-select: none;
}

.AddTier:hover {
    filter: contrast(120%);
}

.NoTiersContainer {
    grid-column-start: 2;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: var(--bold);
    font-weight: 600;
}

.Payment {
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
}

.Payment input[type=number] {
    width: 80%;
    border : 3px solid var(--bold);
    border-right : none;
    color: black;
    padding : 10px 10px;
    font-size: 16px;
    font-weight: 600;
}

.Payment span {
    width : 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: var(--bold);
    height: calc(100% - 2px);
    border : 3px solid var(--bold);
    border-left : none;
    color: white;
    user-select: none;
}

.Payment img, .Balance img {
    height: 18px;
    margin-left: 5px;
}

.Box input[type=file] {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.ImageUploadContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom : 50px;
}

.ImageUploadContainer img {
    height: 180px;
    width: 320px;
    border-radius: 5px;
}

.ImageUpload {
    position: relative;
    width: 70%;
    margin-left : 10px;
    height: 180px;
    border: 4px dashed var(--bold);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms;

}

.ImageUpload:hover {
    background: rgba(0,0,0,0.1);
}

.ImageUpload p{
    margin: 0;
    color: var(--bold);
    font-weight: 700;
    user-select: none;
}

.ImagesUpload {
    position: relative;
    height: 150px;
    border: 4px dashed var(--bold);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition: all 300ms;

}

.ImagesUpload:hover {
    background: rgba(0,0,0,0.1);
}

.ImagesUpload p{
    margin: 0;
    margin-right: 10px;
    padding: 2px 5px;
    color: black;
    border : 3px dashed var(--accent);
    border-radius: 5px;
    font-weight: 600;
    user-select: none;
}

.ImagesUpload span {
    margin: 0;
    color: var(--bold);
    font-weight: 700;
    user-select: none;
}

.DateTime {
    border: 2px solid var(--bold);
    height: 50px;
    width: 260px;
}

.SubmitContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom : 20px;
}

.SubmitButton {
    background: var(--bold);
    color: white;
    user-select: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: all 300ms;
}

.SubmitButton:hover {
    background: var(--accent);
}

