.ProjectPage {
    padding : 0 calc((100% - 1150px)/2);
}

.LoadingContainer {
    position: absolute;
    top: 0;
    left : 0;
    width : 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Title {
    color: var(--bold);
    font-size: 26px;
    font-weight: 600;
    margin-bottom : 4px;
}

@media only screen and (max-width : 650px){
    .Title {
        font-weight: 700;
        font-size : 22px;
    }
    
    .Tagline {
        font-size : 16px;
    }
}

.Tagline {
    color : #606060;
    font-size: 18px;
    font-weight: 500;
    margin-top : 4px;
    margin-bottom : 25px;
}   

.Main {
    display: flex;
    flex-direction: column;
    --gap : 30px;
    min-height: calc(100vh - 200px);
    width: 100%;
    margin-bottom: 50px;
}

.Top, .TagsShare {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.TagsShare {
    margin-top : var(--gap);
}

@media only screen and (max-width : 630px){
    .TagsShare {
        flex-direction: column;
    }

    .Share {
        width: 100% !important;
        margin-bottom : var(--gap);
    }
}


.Tags {
    display: flex;
    flex-wrap : wrap;
    width : calc(70% - var(--gap)/2);
    margin-bottom: 20px;
}

.Tags span {
    padding: 5px 10px;
    padding-left : 5px;
    min-width: 70px;
    margin-right : 20px;
    margin-bottom : 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 35px;
    border-radius: 1000px;
    background: #eaeaea;
    color: var(--bold);
    font-weight: 600;
    font-size: 16px;
    border : 3px dashed var(--bold);
    user-select: none;
}

.Tags svg {
    margin-right : 7px;
}

.Share {
    position: relative;
    min-width: 250px;
    background: #eaeaea;
    box-shadow: var(--bold) 1px 1px, var(--bold) 2px 2px, var(--bold) 3px 3px, var(--bold) 4px 4px, var(--bold) 5px 5px ;
    display: flex;
    height: 50px;
    align-items: center;
    width: calc(30% - var(--gap)/2);
    justify-content: space-between;
    font-size : 30px;
    color: var(--accent);
}

.Share span{
    height: 50px;
    width : 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bold);
    color: white;
    font-size : 17px;
    font-weight: 600;
    user-select: none;
}

.SocialIcons {
    width: calc(100% - 80px);
    display: flex;
    justify-content: space-around;
}

.SocialIcons a {
    transition: all 300ms;
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 50px;
    color: var(--accent);
}

.SocialIcons a:hover {
    color: var(--bold);
}

.Bottom {
    display: flex;
    justify-content: space-between;
    min-height: 700px;
}

.ImageContainer {
    text-align: center;
    width: fit-content;
    border : 4px dashed var(--bold);
    background: rgba(0,0,0,.2);
    margin-right: var(--gap);
    width : calc(70% - var(--gap)/2);
}

.InfoBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(30% - var(--gap)/2);
    padding: 10px 20px;
    background: #eaeaea;
    box-shadow: var(--bold) 1px 1px, var(--bold) 2px 2px, var(--bold) 3px 3px, var(--bold) 4px 4px, var(--bold) 5px 5px ;
    display: flex;
    flex-direction: column;
}


.ImageContainer img {
    height: 100%;
    width: 100%;
}

.TimeRemaining {
    display: flex;
    align-items: center;
    margin-top : 10px;
    max-width: 280px;
}

.TimeRemaining svg {
    color: var(--accent);
    height: 40px !important;
    width: 40px !important;
}

.Hours {
    margin-left : 1000px;
}

@media only screen and (max-width: 1130px){
    .TimeRemaining svg {
        display: none;
    }

    .InfoBox {
        padding: 10px;
        padding-right : 15px;
    }
}

.Box{
    position: relative;
    padding: 10px 20px;
    background: #eaeaea;
    box-shadow: var(--bold) 1px 1px, var(--bold) 2px 2px, var(--bold) 3px 3px, var(--bold) 4px 4px, var(--bold) 5px 5px ;
    margin-bottom : 25px;
}


.FundingTopline, .FundingBottomLine {
    display: flex;
}

.FundingBottomLine {
    justify-content: flex-end;
}

.FundingInfo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: var(--accent);
    margin: 5px 0px;
}

.FundingInfo img {
    height: 19px;
    margin: 0 5px;
}

.ProgressBar {
    height: 20px;
    border-radius: 100px;
    border: 2px solid white;
    overflow: hidden;
    background: #606060;
}

.MoreInfo {
    margin-top : -40px;
}

.MoreInfo h3 {
    font-size: 18px;
    font-weight: 500;
    color: #606060;
    margin: 5px 0;
    display: flex;
    align-items: baseline;
}

.MoreInfo span {
    color: var(--accent);
    font-size: 25px;
    font-weight: 800;
    margin-right : 7px;
}

.ViewContract {
    color: white;
    bottom : 15px;
    background: var(--accent);
    border: 2px solid #40b574;
    display: inline-block;
    padding: 5px 10px;
    margin-top: 20px;
    width: 150px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: all 300ms;
}

.ViewContract:hover {
    filter : contrast(110%);
}

.ViewContract svg {
    margin-right : 10px;
}

.RewardFundContainer {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

.PledgeButton, .RewardFund {
    display: flex;
    position: relative;
    right : 0;
    bottom : 0;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--accent);
    padding: 8px 15px;
    margin-right : -5px;
    font-size: 25px;
    box-shadow: #606060 1px 1px, #606060 2px 2px, #606060 3px 3px, #606060 4px 4px, #606060 5px 5px ;
    user-select: none;
    cursor: pointer;
    transition: all 100ms;
}


@media only screen and (max-width: 1120px){
    .PledgeButton {
        font-size : 20px;
        padding: 4px 7px;
        font-weight: 600;
    }

    .FundingInfo {
        font-size : 16px;
    }

    .ProgressBar {
        height: 15px;
    }
}

.RewardFund {
    font-size : 16px;
    font-weight: 600;
    margin-bottom : -8px;
}

.PledgeButton:hover, .RewardFund:hover {
    filter: contrast(120%);
    bottom: -2px;
    right: -2px;
    box-shadow: #606060 1px 1px, #606060 2px 2px,#606060 3px 3px ;
}


.Tiers {
    position: relative;
    width : calc(30% - var(--gap)/2 + 22px);
    overflow-y: scroll;
    margin-top : 35px;
    margin-right : -22px;
}

.RewardTier {
    position: relative;
    border: 5px dashed var(--bold);
    height: auto;
    padding: 20px 20px;
    margin-bottom: 25px;
}

.RewardTier h3 {
    color: var(--bold);
    margin: 0;
}

.RewardTier span {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0px;
    right: 0px;
    color: var(--accent);
    font-size: 20px;
    font-weight: 500;

    background: #eaeaea;
    padding: 5px 10px;
    border-bottom-left-radius: 5px;
}

.RewardTier img {
    height: 25px;
    margin: 0 5px;
}

@media only screen and (max-width : 1135px){
    .Main {
        --gap : 20px;
    }
}

@media only screen and (max-width : 950px){

    .Main {
        --gap : 40px;
    }

    .Top {
        flex-direction: column;
    }

    .ImageContainer {
        width: 100%;
    }

    .InfoBox {
        width: 100%;
        margin-top : var(--gap);
    }

    .PledgeButton {
        width: 150px;
        height: 50px;
        align-self: flex-end;
        font-size : 25px;
    }

    .MoreInfo {
        margin-top : 5px;
    }

    .ViewContract {
        margin-bottom : 10px;
    }

    .Bottom {
        flex-direction: column;
    }
    
    .Tiers {
        margin-top : var(--gap);
        max-height: fit-content;
        width: 100%;
        overflow-y: visible;
    }
}