.Navbar {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

@media only screen and (max-width : 650px){
    .Navbar {
        padding : 0 5px;
    }
}

.Logo {
    position: relative;
    display: flex;
    align-items: center;
    width: 150px;
    height: 100%;
    text-decoration: none;
}

.Logo img {
    /* height: 55px; */
    height: 75px;
    padding-top : 5px;
    user-select: none;
    -webkit-user-drag: none;
}

.Logo h2 {
    padding: 0;
    margin: 0;
    color: var(--bold);
    font-weight: 800;
    font-size: 22px;
    margin-left: 10px;
    user-select: none;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}

.RightNav {
    display: flex;
    align-items: center;
}

.NavItem, .ConnectWallet {
    border: 2px solid var(--bold);
    padding: 5px 10px;
    border-radius: 50px;
    color: var(--bold);
    height: 44px;
    margin-right: 20px;
    min-width: 50px;

    text-decoration: none;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: all 200ms;
}

.ConnectWallet {
    color: white;
    background: var(--bold);
}

.ConnectWallet:hover {
    filter: contrast(90%);
}

.NavItem:hover, .WalletInfo:hover {
    background: rgba(40,17,214,1);
    color: white;
}

.Alert {
    color: white;
    background: red;
    text-align: center;
    padding: 5px;
    font-weight: 500;
}

.Alert a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
}

.Alert a:hover {
    color: lightgray;
    border-bottom: 2px solid lightgray;
}

.ConnectWalletButton {
    border: 2px solid var(--bold);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--bold);
    font-weight: 400;
    cursor: pointer;
    transition: all 300ms;
}

.ConnectWalletButton:hover {
    background: rgba(0,0,0,0.1);
}

.WalletInfo {
    display: flex;
    align-items: center;
    border: 2px solid var(--bold);
    padding-left: 5px;
    border-radius: 100px;
    color: var(--bold);
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    overflow: hidden;
    justify-content: space-between;
    width: 160px;
    user-select: none;
    text-decoration: none;
    transition: all 200ms;
}

.WalletInfo img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border : 2px solid var(--bold);
    border-right:none;
    background : var(--bold);
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

.WalletInfo p {
    overflow: hidden;
    margin: 0;
    font-weight: 500;
}